@charset "UTF-8";
/*--------------------全体(body)--------------------*/
body {
    text-align: center;
    font-family: 'Hannotate SC';
    background-color: #f4f4f4;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
}

#container {
    width: 980px;
    margin: 0 auto;
}

/*--------------------パンくずリスト--------------------*/
.breadcrumb {
    font-size: 12px;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.breadcrumb li {
    display: inline;
    font-weight: bold;
}

.breadcrumb li:after {
    content: '>';
    padding-right: 3px;
    color: #555;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #535353;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

/*--------------------hタグ--------------------*/
h1 {
    font-size: 36px;
    padding: 10px;
    margin: 15px auto;
    max-width: 700px;
}

h2 {
    margin: 25px;
}

/*--------------------p,ol ul,li,td a--------------------*/
p {
    padding: 1% 10%;
    line-height: 180%;
    margin-bottom: 30px;
    text-wrap: balance;
    word-break: keep-all; 
    overflow-wrap: anywhere;
}

ol, ul {
    padding: 2% 8%;
}

li {
    line-height: 180%;
}

td a {
    text-decoration: none;
    color: #3c3c3c;
}

td a:hover {
    text-decoration: underline;
}

/*---------------------- nav -------------------------*/
nav {
    height: 32px;
    margin-bottom: 7%;
    padding: 0;
    text-align: center;
}

nav h2 {
    display: none;
}

nav ul {
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 100%;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    text-align: center;
    font-size: 14px;
    display: inline;
}

nav ul li a {
    border: 1px solid #dedede;
    padding: 8px 20px;
    display: block;
    position: relative;
    color: #3c3c3c;
    background-color: #e3f1ff;
    text-decoration: none;
    border-radius: 100% 80px / 70px 100%;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
}

nav ul li a:hover {
    color: #2f2f2f;
    background-color: #c7e5ff;
    text-decoration: none;
}

/*--------------------contents--------------------*/
#contents {
    font-size: 15px;
    margin-bottom: 70px;
    list-style-type: none;
    color: #3c3c3c;
}

#contents p{
    font-size: 15px;
    list-style-type: none;
    color: #3c3c3c;
}


#contents a {
    color: #3c3c3c;
    background-color: #e3f1ff;
    text-decoration: none;
    border: 1px solid #dedede;
    border-radius: 100% 80px / 70px 100%;
    padding: 8px 20px;
}

#contents a:hover {
    color: #2f2f2f;
    background-color: #c7e5ff;
    text-decoration: none;
}

/*--------------------references--------------------*/
.references {
    margin-top: 5%;
}

.last {
    margin-top: 6.5%;
}

/*--------------------権利--------------------*/
small {
    display: block;
    text-align: center;
    margin: 5% 0 3%;
}

.index1 {
    margin-top: 30%;
}

/*---------------------- reference.html -------------------------*/
table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.referenceTable {
    text-align: center;
    width: 80%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}