
/* --------------- 基本スタイル --------------- */
body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}
h1 {
    font-size: 45px;

}

/* --------------- ナビゲーションバー --------------- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #8fd0d0;
    display: flex;
    justify-content: flex-end;
}

#toggle {
    display: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(35, 35, 35);
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #6cb1b1;
    color: rgb(0, 0, 0);
}

/* --------------- ヘッダー --------------- */
header {
    background-color: #AADDDD;
    color: #242424;
    padding: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* --------------- セクション --------------- */
section {
    margin: 5%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(39, 39, 39, 0.1);
}

/* --------------- フッター --------------- */
footer {
    background-color: #AADDDD;
    color: rgb(68, 68, 68);
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* --------------- ラーメン紹介セクション --------------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #eef;
}

/* --------------- ramen写真 --------------- */
.ramen-recommendations {
    margin: 10px auto;
    max-width: 63%;
}

.ramen-image {
    width: 95%;
    max-height: 700px;
    object-fit: cover;

}


/* --------------- sauna写真 --------------- */
.sauna-recommendations {
    margin: 10px auto;
    max-width: 80%;
}

.sauna-image {
    width: 95%;
    max-height: 580px;
    object-fit: cover;

}


/* --------------- カードコンテナ --------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---------------　モバイル対応　--------------- */
@media (max-width: 600px) {
    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        width: 100%;
    }

    #toggle:checked + ul {
        display: block;
    }
}
